.footer__column-link {
    margin: 0;
    padding: 0;
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    list-style-type: none;
    color: white;
    transition: .3s;
}

.footer__column-link:hover {
    opacity: .3;
}